#Layer_4 {
-webkit-animation: rotation 18000ms infinite linear;
-moz-animation: rotation 18000ms infinite linear;
-o-animation: rotation 18000ms infinite linear;
animation: rotation 18000ms infinite linear;
transform-origin: 50% 50%;
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
}

#Layer_5{
-webkit-animation: rotation 1200ms infinite linear;
-moz-animation: rotation 1200ms infinite linear;
-o-animation: rotation 1200ms infinite linear;
animation: rotation 1200ms infinite linear;
transform-origin: 50% 50%;
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to   {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to   {-o-transform: rotate(360deg);}
}
@keyframes rotation {
from {transform: rotate(0deg);}
to   {transform: rotate(360deg);}
}