/* 

////////// 
BOTÕES.SCSS
Css referente aos botoes 
////////// 

*/


.botao {
	background-color: transparent;
	color: $cor-branco-fundo-azul;
	border-radius: 30px !important;
	border: 1px solid white;
	
	display: inline-block;
	height: 3.125em !important;
	line-height: 3.125em;
	padding: 0 2.75em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	z-index: 4;
	
	/* text-overflow: ellipsis; */

	&:hover {
		background-color: $cor-verde;
		font-weight: bold;
	}

	&:active {
		background-color: $cor-verde;
	}


}