/* 

////////// 
FOOTER.SCSS
Estrutura do footes e estilo referente. 
////////// 

*/


#page-footer{
	margin-top: 10px;
	/* height:70px; */
	font-size: 12px;

	color: $cor-cinza;
	text-align: center;
	background-color: white;

	

	p img{
		width: 150px;
	}
}