$cor-azul-principal: #0080bd;
$cor-azul-secundario: #365aa9;
$cor-de-fundo-pagina: #ffffff;
$cor-branco-fundo-azul: #ffffff;
$cor-cinza: grey;



$fontfamily-titulo:'Oswald', sans-serif;
$fontfamily-texto:'Open Sans', sans-serif;
$fontfamily-texto-corrido:'Open Sans', sans-serif;
$fontfamily-menu:'Oswald', sans-serif;

$tamanho-fonte-titulo: 49px;
$tamanho-fonte-texto: 16px;
$tamanho-fonte-texto-corrido: 18px;
$tamanho-fonte-menu: 14px;